.container {
    font-family: "Gill Sans", sans-serif;
}

.header {
    color: #213E4F;
    font-size: 4rem;
    text-align: center;
}

.main {
    margin:10px;
    display: flex;
    justify-content: space-between;
}
