.column {
    border-radius: 10px;
    width: 32%;
    background-color: #DEE2E5;
    padding: 10px;
    align-self: flex-start;
}

.column-header {
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.column-header-title {
    color: #213E4F;
    font-size: 2rem;
    font-weight: bold;
}

.column-header-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.column-main {

}

.column-footer {

}

.column-footer-btn {
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    background:inherit;
    border: none;
    color: #83959E;
}
