.card {
    position: relative;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
}

.card-title {
    font-weight: bold;
}

.card-description-content {

}

.card-buttons {
    /* margin: 10px 0 0; */
}

.delete {
    border: none;
    background-color: inherit;
    padding-left: 0;
    cursor: pointer;
    position: absolute;
    top: 5px; right: 5px;
}

.actual-element {
    opacity: 0;
}

.dragged-element {
    pointer-events: none;
    font-family: "Gill Sans", sans-serif;;
    position: absolute;
    z-index: 999;
}
