body {
    position: relative;
    background-color: #107ABB;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

.column-header {
    pointer-events: none;
}

.title {
    pointer-events: none;
}

.pointer-events-none {
    pointer-events: none;
}
