html, body {
    font-family: 'Raleway',sans-serif;
}

body {
    margin: 0;
    /* overflow-x: hidden; */
}

.header {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.wall {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    /* width: 100%; */
    margin: 0;
    padding: 10px;
    background-color: #107ABB;
}


