.card-widget {
    width: 100%;
    background-color: #107ABB;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card-widget-title {
    border: none;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card-widget-description {
    border: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-widget-title:focus, .card-widget-description:focus {
    outline: none;
    border-right: 0.1rem solid #107ABB;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}

.card-widget-buttons {
    margin-top: 10px;
}

.btn {
    margin-right: 2rem;
    width: 24px;
    height: 24px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    opacity: 0.6;
}

.card-widget-add {
    background-image: url('./imgs/Add_round.svg');
}

.card-widget-clean {
    background-image: url('./imgs/circle_right_alt.svg');
}

.card-widget-break {
    background-image: url('./imgs/Close_round.svg');
}


